<p style="color: green"><%= notice %></p>


<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name: <%= @movie.name %></li>
    <li class="list-group-item">Price: <%= @movie.price %></li>
  </ul>
</div>

<hr />

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete, class: "btn btn-danger" %>
</div>
